@use "sass:math";

//scroll
$scrollbar-thumb-color: #C1C1C1;
$scrollbar-track-color: #F1F1F1;
$scrollbar-width: 10px;

//text selection
$selection-bg-color: #db3450;
$selection-text-color: white;

//button color
$button-bg-color: #db3450;
$button-text-color-hover: #db3450d8;